/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/

body{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	height: 100%
}

nav{
	background-color: #E54E79;
	height: 80px;
}

nav img{
	height: 40px;
	float: left;
	padding: 20px 100px;
}

nav a{
	color: #FFFFFF;
	text-decoration: none;
	padding: 20px;
	float: right;
}

header img{
	position: relative;
	width: 100%;
	height: 100%;	
}

h1{
	color: #00B2A9;
	padding-left: 10px;
}

h4{
	color: #75726C;
	padding-left: 10px; 
}

input{
	background-color: whitesmoke;
	padding: 10px;
	border: 0;
	border-bottom: 1px solid;
}

header .contenedor{
	background-color: whitesmoke;
	position: relative;
	height: 450px;
	width: 500px;
	float: right;
}